body {
    min-width: 800px;
}
.BG{
    width: 22%;
    height: 200px;
    background-color: var(--secondary-main-color);
    display: flex;
    border-radius: var(--border-radius);
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 30px;
    position:relative
}
.bgcircle{
    width: 90px;
    height: 90px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 18px;
}
.title{
    margin-top: 125px;
    color: #ffffff;
    position: absolute;
}
p.metadata{
    margin-top: 155px;
    color: #ffffff;
}
.Wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 25px;
    margin-right: 30px;
}
@media only screen and (max-width: 1150px) {
    .Wrapper p{
        display: none;
    }
    .BG {
        width: 200;
        height: 130px;
    }
    
    .Circle {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 800px) {
    .Wrapper p{
        display: none;
    }
    .BG {
        width: 124px;
        height: 130px;
    }
    
    .Circle {
        margin-top: 20px;
    }
}
